*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  resize: none;
}

/* ---------header----------*/
.header_logo {
  padding-top: 20px;
  width: 150px;
  height: 150px;
  background: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background_color_logo {
  background-color: black;
}

.insta_postion {
  position: absolute;
  left: 50px;
  top: 120px;
}

.logo {
  margin-left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.navbar a:hover {
  background-color: black;
  color: white;
}

/*---------Footer----------*/
.footer {
  background-color: black;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer_box {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 25px;
}

.footer_box a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

/* ---------index----------*/
.space {
  text-align: center;
  font-family: Verdana, sans-serif;
  margin-top: 5%;
}

.about_us {
  display: flex;
  margin: auto;
  padding: 10px;
  background-color: black;
  flex-wrap: wrap;
  height: 100%;
}

.about_us * {
  flex: 1;
}

.about_us h2,
p {
  color: white;
  margin-top: 0.6em;
}

.video {
  aspect-ratio: 16/9;
}

/* ---------text-img----------*/
.img_background {
  background-color: black;
  padding: 10px;
  margin-bottom: 5em;
}

.img_background h2 {
  color: white;
}

.background_box * {
  text-align: start;
}

.img_flex {
  display: flex;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.img_flex img {
  display: block;
  border-radius: 50%;
  width: 340px;
  height: 440px;
  object-fit: scale-down;
  flex-basis: 10%;
  padding: 10px;
}

/* --------- hover ----------*/
.container {
  position: relative;
  width: auto;
}

.overlay {
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.container:hover .overlay {
  opacity: 1;
  color: black;
  border-radius: 50%;
}

.text {
  color: white;
  position: absolute;
  top: 30px;
  left: 30%;
}

.text_p {
  color: white;
  position: absolute;
  top: 100px;
  left: 10%;
}

.text_ul {
  color: white;
  position: absolute;
  top: 170px;
  left: 10%;
}

/*---------- Gallery -------------*/
.text_color {
  margin-top: 1em;
  color: black;
}

.background_box_gallery {
  background-color: black;
  margin: 5% 10% 6em 10%;
}

.background_box_gallery * {
  text-align: start;
}

.img_flex_gallery {
  display: flex;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.img_flex_gallery img {
  display: block;
  width: 340px;
  height: 440px;
  object-fit: scale-down;
  flex-basis: 10%;
  padding: 10px;

}

.buttom_img_gallery {
  position: absolute;
  top: 250px;
  left: 130px;
  text-align: center;
  border: 1px solid white;
}

/*---------- Hover Gallery-----------*/
.container_gallery {
  position: relative;
  width: auto;
}

.overlay_gallery {
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.container_gallery:hover .overlay_gallery {
  opacity: 1;
  color: black;
}

.text_gallery {
  color: white;
  position: absolute;
  top: 150px;
  left: 150px;
  text-align: center;
}

/*---------- Contact-----------*/
.flex_form {
  display: flex;
  background-color: rgb(48, 48, 48);
  flex-direction: column;
  width: 40%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  border-radius: 10px 50px;
}

.flex_form>* {
  color: white;
  width: 80%;
  padding-top: 10px;
}

.flex_form>input {
  color: black;
  text-align: center;
}

.buttom_contact {
  margin: 2em;
  width: 100px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 10px;
  padding-bottom: 10px;
}

.flex_form>input:hover {
  border-color: red;
}

.buttom_contact:hover {
  background-color: black;
  color: white;
  border-color: red;
}

/*---------- Media for tablets:         */
@media only screen and (max-width: 825px) {

  .about_us {
    flex-direction: column;
  }

  /*---------- Contact-----------*/

  .flex_form {
    width: 80%;
  }

  .video {
    aspect-ratio: 23/25;
    width: 100%;
  }
}